@import 'bootstrap/dist/css/bootstrap.min.css';
body{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba);
    min-height: 100vh;
    font-size: medium;
}